/* Baseline reset */
html {
  box-sizing: border-box;
  font-size: 16px; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  background-color: #feffff;
  color: rgba(0, 0, 0, 0.78);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
  line-height: 1.64rem;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #391D4C; }

p {
  font-size: 2.5rem;
  padding-right: 18rem;
  padding-left: 14rem;
  line-height: 2.5rem; }

article {
  padding: 2rem 1rem; }


.navbar {
  align-items: center;
  background-color: #391D4C;
  display: flex;
  height: 100px;
  border-bottom: 3px solid #f0f0f0; }

.navbar::before {
  content: " ";
  border-top: 2px solid #d16199;
  position: absolute;
  top: 0px;
  width: 100%; }

.navbar .logo {
  flex-grow: 1;
  height: 100%;
  align-items: center;
  display: flex;
  padding-left: 1rem; }

.navbar .nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.navbar .nav .menu-item {
  border-bottom: 2px solid transparent;
  color: palevioletred;
  flex-grow: 1;
  letter-spacing: 0.5px;
  line-height: 60px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 8rem;
  font-size: 1.6rem; }

.navbar .nav .menu-item:hover {
  background-color: #f0f0f0;
  cursor: pointer; }

.navbar .nav .menu-item.active {
  border-color: #d9bfcc; }

.navbar img {
  height: calc(100% - 1.5rem);
  width: auto; }

.banner img {
  width: 100%;
  height: 30rem;
  margin-top: 1rem; }

.photo1 {
  position: absolute;
  width: 100%;
  top: 30rem;
  left: 15rem; }

.photo2 {
  position: absolute;
  width: 100%;
  top: 70rem;
  left: 15rem; }

.photo3 {
  position: absolute;
  width: 100%;
  top: 110rem;
  left: 15rem;
  margin-bottom: 6rem; }

nav .footer {
  background-color: #391D4C;
  overflow: hidden;
  position: relative;
  bottom: 0;
  width: 100%; }

nav .footer a {
  float: left;
  display: block;
  color: #d16199;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; }

nav .footer a:hover {
  background-color: #ddd;
  color: black; }

nav .footer a.active {
  background-color: #d16199;
  color: white; }

