@import '../node_modules/bootstrap/scss/bootstrap';

/* Baseline reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #feffff;
  color: rgba(0, 0, 0, 0.78);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
  line-height: 1.64rem;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color:#391D4C;
}

h1 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
    font-size: 1.5rem;
    //padding-right:18rem;
    //padding-left: 14rem;
    line-height: 2.0rem;
    @media all and (max-width: 35rem) {
      flex-direction: column;
      padding: 0;
  }
}

article {
  padding: 2rem 1rem;
}

/* Add styles here */
#custom-bootstrap .navbar {
  align-items: center;
  background-color: 	#391D4C;
  display: flex;
  height: 100px;
  border-bottom: 3px solid #f0f0f0;
  padding:0;
  width:100%;
  z-index:99;
}

.bg-light {
  background-color: #391D4C!important;
}

.navbar::before {
  content: " ";
  border-top: 2px solid #d16199;
  position: absolute;
  top: 0px;
  width: 100%;
}

.navbar .logo {
  flex-grow: 1;
  height: 100%;
  align-items: center;
  display: flex;
  padding-left: 1rem;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //height: 100%;
}

#custom-bootstrap .nav-link {
  border-bottom: 2px solid transparent;
  color: palevioletred;
  flex-grow: 1;
  letter-spacing: 0.5px;
  line-height: 40px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-right:8rem;
  font-size: 1.5rem;
}

#custom-bootstrap .nav-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
#custom-bootstrap .nav-item.active {
  border-color: #d9bfcc;
}

.navbar img {
  height: calc(100% - 0.8rem);
  width: auto;
}
#custom-bootstrap .navbar-toggler {
  background-color: palevioletred
}
@media only screen and (max-width: 992px) {
  .navbar-collapse {
      background-color: #391D4C;
   } 
}
.banner img {
    width:100%;
    height: 30rem;
    margin-top: 1rem;
    @media all and (max-width: 35rem) {
      width:100%;
    height: 250px;
  }
}

.algonquin img {
  width:100%;
  height: 100%;
}

// .photo1 {
    //width: 100%; 
    //top:30rem;
    //left:15rem;
// }
// .photo2 {
//   width: 100%; 
//   top:70rem;
//   left:15rem;
// }
// .photo3 {
//   width: 100%; 
//   top:110rem;
//   left:15rem;
//   margin-bottom: 6rem;
// }


/* Place the navbar at the bottom of the page, and make it stick */
.footer {
  background-color: #391D4C;
  overflow: hidden;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.footer a {
  float: left;
  display: block;
  color: #d16199;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


/* Change the color of links on hover */
.footer a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.footer a.active {
  background-color: #d16199;
  color: white;
}
.copyright {
  background-color: #111;
  color: white;
  justify-content:center;
}